.butten (@color, @icon) {
  background-color: @color;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  opacity: 0.9;
  font-family: 'Glyphicons Halflings';
  color: #fff;
  padding: 0;
  font-size: inherit;

  .clic-anymate ();

  &:focus {
    outline: none;
  }

  &:before {
    content: @icon;
    height: 100%;
    width: 100%;
    font-size: 1.5em;
    display: block;
    line-height: 40px;
    text-align: center;
  }
}

.footer () {
  footer {
    height: 0px;
    position: relative;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;

    & > * {
      position: relative;
      top: -50px;
    }

    .add-new {
      .butten (#90DE76, '\002b');
    }

    .unset-pin {
      .butten (#DE9076, '\e106');
    }

    .save-note {
      .butten (#76C4DE, '\e013');
    }

    .edit-note {
      .butten (#76C4DE, '\270f');
    }
  }
}
