.header () {
  header {
    height: 50px;
    width: 100%;
    background-color: @base-collor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;

    .back-wrap {
      a {
        font-family: 'Glyphicons Halflings';
        color: white;
        font-size: 2em;
        cursor: pointer;

        &:before {
          content: '\e079'
        }
      }
    }
  }
}
