@import './header';
@import "./footer";

body {
  margin: 0;
}

html, body, #root, .root-app, .app-layout {
  height: 100%;
}

.root-app {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;

  .app-layout {
    background-color: @background-color;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header ();
    .footer ();
  }

  .spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(240,240,240,0.8);
  }
}
