@import "./varebels";
@import "./pin-panel";
@import "./layout";
@import "./note-list";
@import "./new-note";
@import "./view-note";

.clic-anymate () {
  transition: transform 0.1s linear;

  &:active {
    transform: scale(0.95);
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  src: local('Glyphicons Halflings'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2');
}
