.root-app {
  .new-note {
    height: ~'calc(100% - 50px)';
    padding: 5px;
    box-sizing: border-box;

    .title {
      display: block;
      font-size: 1.2em;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #ccc;
      height: 30px;
      width: 100%;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }

    .content {
      margin-top: 5px;
      border: none;
      width: 100%;
      height: ~'calc(100% - 40px)';
      padding: 0;
      background-color: transparent;
      overflow-y: auto;
      resize: none;

      &:focus {
        outline: none;
      }
    }
  }
}
