.note () {
  .note-item {
    margin: 8px 4px;
    background-color: #fff;
    box-shadow: 0 0 4px -1px #000;
    border: 3px solid #fff;
    max-height: 20vh;
    min-height: 10vh;
    box-sizing: border-box;
    overflow: hidden;

    .clic-anymate ();

    h2 {
      margin: 0;
      font-weight: normal;
      font-size: 1.4em;
    }

    article {
      white-space: pre-line;
    }
  }
}

.root-app {
  .note-list {
    height: ~'calc(100% - 50px)';
    overflow-y: auto;

    .note ();
  }
}
