.root-app {
  .enter-pin-wrap {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: @base-collor;
    display: flex;
    justify-content: center;
    align-items: center;

    .enter-pin {
      color: white;
    }

    .pin-status {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        width: 0.5em;
        height: 0.5em;
        margin: 0.2em;
        border-radius: 50%;
        border: 1px solid white;

        &.statu-fill {
          background-color: #E59938;
        }
      }
    }

    .pin-keyboard {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-around;
      width: 15em;
      height: 20em;
      margin: auto;

      .pin-butoon {
        border-radius: 50%;
        border: 1px solid white;
        width: 4em;
        height: 4em;
        margin: 0.5em;
        box-sizing: border-box;
        padding: 0;
        background-color: transparent;
        color: inherit;
        font-size: inherit;
        transition: transform 0.1s linear;

        &:before {
          content: attr(data-num);
          font-size: 2em;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 2em;
          display: block;
        }

        &:focus {
          outline: 0;
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
