.root-app {
  .view-note {
    height: ~'calc(100% - 50px)';
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;

    .note-title {
      margin: 0;
      font-weight: normal;
      font-size: 1.4em;
    }

    .note-content {
      white-space: pre-line;
    }
  }
}
